.SaveButton {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 15px;
    background: #BE3030;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.SaveButton__icon {
    width: 12px;
}

.SaveButton:hover {
    background: rgba(190, 48, 48, 0.849);
}