.Navbar {
    display: flex;
}

.Navbar-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
}

.Navbar-item__icon {
    width: 20px;
}

.active {
    opacity: 1;
}